##import(AnnotationDbi)
#import(GenomicFeatures)
import(ensembldb)

### Don't export EnsDb.Hsapiens.v105 (the object defined in this
### package): it is created and dynamically exported at load time (refer
### to R/zzz.R for the details).


